@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: #EFEFBB;
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
	margin: 0;
    overflow: hidden;
    height: 100vh;
}
p {
    margin: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container > img {

}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.header > img{
    margin: 5% 0 5% 0;
    width: 80%;
}
.search-form {
    display: flex;
    justify-content: center;
}
.search-container {
    margin-bottom: 5%;
    width: 80%;
}
#search-input {
    border: none;
    background-color: #f2f2f2;
    padding: 12px;
    font-size: 14px;
    width: 80%;
}
.search-btn {
    align-items: flex-end !important;
    background-color: #f2f2f2;
    padding: 8px;
    border: none;
}
#search-icon {
    width: 20px;
    border: none;
}

.poke-container {
    width: 80%;
    overflow: scroll;
    height: 80vh;
}
.poke-container::-webkit-scrollbar {
    display: none;
}

#pokemon {
    align-items: center;
    border-radius: 10%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10% 0 10% 0;
    width: 100%;
    height: 40vh;
}
.img-container {
    background-color: whitesmoke;
    border-radius: 15%;
    max-height: 60%;
    max-width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 60%;
    height: 60%;
    margin-top: 5%;
}
.img-container > img{
    max-width: 90%;
    max-height: 90%;
    align-self: center;
}
.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 40%

}
.number {
    border-radius: 15%;
    border: 1px solid;
    background-color: rgb(221, 221, 221);
    font-size: 15px;
    padding: 0% 2% 0% 2%;
}
.name {
    text-transform: capitalize;
    margin: 0;
}
.type-container {
    display: flex;
    justify-content:center;
    width: 60%;
}

.types {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
}


.type {
    border-radius: 20%;
    background-color: rgb(221, 221, 221);
    border: 1px solid;
    text-align: center;
    text-transform: capitalize;
    padding: 2%;
    margin-left: 3%;
}

/* Modal styles */
.modal {
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    width: 600px;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
}
.modal-btn {
    background-color: transparent;
    cursor: pointer;
    width: 30%;
    border-radius: 10px;

}
.modal > h1 {
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}
.modal-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-info > img {
    width: 40%;
    border: 1px solid grey;
    border-radius: 10px;

}
.moves {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80%;
    align-items: center;
}

.moves-item {
    width: 45%;
    padding: 0;
    margin: 0;
    border: 1px solid;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
}
.fire-color {
    background-color: #FDDFDF;
}
.grass-color {
    background-color: #DEFDE0;
}
.electric-color {
    background-color: #FCF7DE;
}
.water-color {
    background-color: #DEF3FD;
}
.ground-color {
    background-color: #f4e7da;
}
.rock-color {
    background-color: #d5d5d4;
}
.fairy-color {
    background-color: #fceaff;
}
.poison-color {
    background-color: #98d7a5;
}
.bug-color {
   background-color: #f8d5a3;
}
.dragon-color {
    background-color: #97b3e6;
}
.psychic-color {
    background-color: #eaeda1;
}
.flying-color {
    background-color: #F5F5F5;
}
.fighting-color {
    background-color: #E6E0D4;
}
.normal-color {
    background-color: #F5F5F5;
}
/* Tablet view */
@media (min-width: 650px) {
    body {
        background-color: blue
    }
    .search-form {
        height: 60px;
    }
    #search-input{
        font-size: 25px;
    }
    .pokemon {
        width: 45%;
    }
    #pokemon {
        cursor: pointer;
    }
    .poke-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .number {
        padding: 2%;
    }
    .types {
        width: 100%;
    }
}

@media (min-height: 1000px) {
    #pokemon {
        height: 35vh;
    }
}
